<footer class="page-footer">
    <div class="logo">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/"><span>Logo</span></a>
    </div>
    <div class="about">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id quam fermentum, volutpat velit nec,
            malesuada
            urna. Praesent sodales quam eu accumsan accumsan. Proin efficitur, orci eu porttitor porta, sapien
            turpis porttitor
            neque, ullamcorper laoreet sapien enim ut mauris. Pellentesque pharetra, odio non iaculis gravida.</p>
    </div>
    <div class="contact-data">
        <ul>
            <li><img src="/images/icons/location-i.png">&nbsp;&nbsp;&nbsp;Polkowska 9, 00-727, Warszawa</li>
            <li><img src="/images/icons/call-i.png">&nbsp;&nbsp;&nbsp;111 111 22 22</li>
            <li><img src="/images/icons/email-i.png">&nbsp;&nbsp;&nbsp;email@mail.com</li>
        </ul>
    </div>
    <div class="social">
        <ul>
            <li><a><img src="/images/icons/instagram-i.png"></a></li>
            <li><a><img src="/images/icons/facebook-i.png"></a></li>
            <li><a><img src="/images/icons/youtube-i.png"></a></li>
        </ul>
    </div>

    <% if (isAdmin) { %>
    <a href="/admin/products-management">Панель управления</a>
    <% } %>
</footer>

<script src="/js/main.js"></script>
</body>

</html>