    <footer class="page-footer">   
        <h1>Здесь что-то будет, позже!</h1>
        <% if (isAdmin) { %>
            <a href="/admin/products-management">Панель управления</a>
        <% } %>
    </footer>

    <script src="/js/main.js"></script>

</body>

</html>