<div class="container">
    <%- include('../includes/slider/first-slide.ejs') %>
    <%- include('../includes/slider/second-slide.ejs') %>
    <%- include('../includes/slider/third-slide.ejs') %>
</div>