* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #484848;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

main {
  align-self: center;
  width: 100%;
  height: 100%;
  margin-top: 15%;
}

main > .container {
  padding: 0 10%;
}

main > .container > form {
  text-align: center;
  width: 100%;
}
main > .container > form > .category {
  margin-top: 10px;
  margin-bottom: 10px;
}

main > .container > form > .category > select{
  height: 30px;
}

main > .container > h2 {
  text-align: center;
  padding: 15px;
}

main > .container > form > input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

main > .container > form > .measureSystem {
  margin-top: 10px;
  margin-bottom: 10px;
}

main > .container > form > .measureSystem > label {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  width: 100%;
}

main > .container > form > .author {
  margin-top: 10px;
  margin-bottom: 10px;
}

main > .container > form > .author > label {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  width: 100%;
}

main > .container > form > .author > input {
  width: 33%;
  height: 30px;
}

main > .container > form > .measureSystem > select {
  width: 19%;
  height: 30px;
}

main > .container > form > .measureSystem > input {
  width: 40%;
  height: 30px;
}

main > .container > form > input {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  width: 100%;
}

main > .container > form > .image {
  margin-top: 10px;
  margin-bottom: 10px;
}

main > .container > form > .image > label {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  width: 100%;
}

main > .container > form > textarea {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  width: 100%;
}

main > .container > form > button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}
