* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Areal", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #e5e5e5;
}

h3 {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

main {
  align-self: center;
  width: 100%;
  height: auto;
}

.container {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  z-index: 0;
}

.slide {
  width: 100%;
  height: 100vh;
}

.slick-slide {
  outline: none;
}

.slide-content {
  vertical-align: top;
  text-align: left;
  width: 100%;
  padding: 0 15%;
  padding-top: 70px;
  display: inline-flex;
}

.slide-content > img {
  width: 350px;
  height: 350px;
  box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.25);
  float: left;
  position: relative;
}

.slide-content > .info {
  margin-left: 80px;
}

.slide-content > .info > h1 {
  font-family: "Oswald Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
}

.slide-content > .info > p {
  margin-top: 20px;
}

.slide-content > .info > button {
  margin-top: 20px;
  height: 40px;
  width: 120px;
  font-size: 20px;
  background: #fff;
  color: #484848;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
}

.slide .social {
  position: absolute;
  bottom: 8%;
  right: 5%;
}

.slide .social > ul > li {
  list-style-type: none;
  display: inline-flex;
  padding: 5px;
}

.slide .social > ul > li > a {
  cursor: pointer;
}

.slide .social > ul > li > a:hover {
  opacity: 0.8;
}

.slide .social > ul > li > a > img {
  width: 25px;
  height: 25px;
}

.artworks-slide > .nav > .nav-links > a {
  color: #fff;
}

.artworks-slide {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url(/images/img/artworks.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 73% 100%;
  position: relative;
}

.artworks-slide > .nav {
  z-index: 0;
  top: 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
}

.artworks-slide > .slide-content .info {
  position: relative;
  color: #fff;
}

.artworks-slide > .nav > .nav-links > a > div {
  background: url(/images/icons/login-bright.png);
  background-size: contain;
  width: 25px;
  height: 25px;
}

.artworks-slide > .nav > .nav-links > form > button > div {
  background: url(/images/icons/login-bright.png);
  background-size: contain;
  width: 25px;
  height: 25px;
  transform: rotate(-180deg);
}

.artworks-slide > .nav > .nav-links > .cart > div {
  background: url(/images/icons/shopping-cart-white.png);
  background-size: contain;
  width: 25px;
  height: 25px;
}

.artworks-slide > .previous {
  position: absolute;
  margin-top: 30vh;
  margin-left: 1vh;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.artworks-slide > .next {
  position: absolute;
  right: 1vh;
  margin-top: 30vh;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.artworks-slide > .previous > div {
  width: 40px;
  height: 40px;
  background: url("/images/icons/dark-arrow.png");
  background-size: contain;
  transform: rotate(-180deg);
}

.artworks-slide > .next > div {
  width: 40px;
  height: 40px;
  background: url("/images/icons/bright-arrow.png");
  background-size: contain;
}

.photos-slide {
  width: 100%;
  height: 100%;
  background: #fff url(/images/img/photos.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 28% 100%;
  position: relative;
}

.photos-slide .nav {
  z-index: 0;
  top: 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
}

.photos-slide > .nav > .nav-header > .logo > a > span {
  color: #fff;
}

.photos-slide > .slide-content > .info > button {
  color: #fff;
  background: #484848;
}

.photos-slide > .slide-content .info {
  color: #484848;
}

.photos-slide > .nav > .nav-links > a > div {
  background: url(/images/icons/login-dark.png);
  background-size: contain;
  width: 25px;
  height: 25px;
}

.photos-slide > .nav > .nav-links > form > button > div {
  background: url(/images/icons/login-dark.png);
  background-size: contain;
  width: 25px;
  height: 25px;
  transform: rotate(-180deg);
}

.photos-slide > .nav > .nav-links > .cart > div {
  background: url(/images/icons/shopping-cart.png);
  background-size: contain;
  width: 25px;
  height: 25px;
}

.photos-slide > .previous {
  position: absolute;
  margin-top: 30vh;
  margin-left: 1vh;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.photos-slide > .previous > div {
  width: 40px;
  height: 40px;
  background: url("/images/icons/bright-arrow.png");
  background-size: contain;
  transform: rotate(-180deg);
}

.photos-slide > .next {
  z-index: 5000;
  position: absolute;
  right: 1vh;
  margin-top: 30vh;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.photos-slide > .next > div {
  width: 40px;
  height: 40px;
  background: url("/images/icons/dark-arrow.png");
  background-size: contain;
}

.sculptures-slide > .nav > .nav-links > a {
  color: #fff;
}

.sculptures-slide {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url(/images/img/sculptures.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 65% 100%;
  position: relative;
}

.sculptures-slide > .nav {
  z-index: 0;
  top: 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
}

.sculptures-slide > .slide-content .info {
  color: #fff;
}

.sculptures-slide > .nav > .nav-links > a > div {
  background: url(/images/icons/login-bright.png);
  background-size: contain;
  width: 25px;
  height: 25px;
}

.sculptures-slide > .nav > .nav-links > form > button > div {
  background: url(/images/icons/login-bright.png);
  background-size: contain;
  width: 25px;
  height: 25px;
  transform: rotate(-180deg);
}

.sculptures-slide > .nav > .nav-links > .cart > div {
  background: url(/images/icons/shopping-cart-white.png);
  background-size: contain;
  width: 25px;
  height: 25px;
}

.sculptures-slide > .previous {
  position: absolute;
  margin-top: 30vh;
  margin-left: 1vh;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.sculptures-slide > .previous > div {
  width: 40px;
  height: 40px;
  background: url("/images/icons/dark-arrow.png");
  background-size: contain;
  transform: rotate(-180deg);
}

.sculptures-slide > .next {
  position: absolute;
  right: 1vh;
  margin-top: 30vh;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.sculptures-slide > .next > div {
  width: 40px;
  height: 40px;
  background: url("/images/icons/bright-arrow.png");
  background-size: contain;
}

.sculptures-slide > .next > img {
  width: 40px;
  height: 40px;
}

.sculptures-slide > .previous > img {
  width: 40px;
  height: 40px;
  transform: rotate(-180deg);
}

.recomendations {
  height: auto;
  position: relative;
  color: #484848;
}

.recomendations > .white-bg-rec {
  background: #fff;
  width: 100%;
  height: 55%;
  position: absolute;
  z-index: -1;
}

.recomendations > .white-bg-rec::after {
  content: "";
  width: 0;
  height: 0;
  bottom: 0px;
  border-top: 100px solid #fff;
  border-right: 99vw solid transparent;
  top: 100%;
  position: absolute;
  z-index: 1;
}

.recomendations > .container {
  display: block;
  padding: 50px 10%;
  text-align: center;
}

.recomendations > .container > .short-desc {
  width: 100%;
}

.recomendations > .container > h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.recomendations > .container > .rec-block {
  color: #484848;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.recomendations > .container > .rec-block > div {
  background: #fff;
  display: block;
  width: 100%;
}

.recomendations > .container > .rec-block > div:first-child {
  border-right: 0.5px solid #484848;
}

.recomendations > .container > .rec-block > div:last-child {
  border-left: 0.5px solid #484848;
}

.recomendations > .container > .rec-block > div > img {
  height: 375px;
  width: 100%;
}

.recomendations > .container > .rec-block > div > .info {
  text-align: center;
  padding: 20px;
}

.recomendations > .container > .rec-block > div > .info > h4 {
  padding-bottom: 10px;
}

.recomendations > .container > .rec-block > div > .info > button {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  width: 140px;
  font-size: 20px;
  background: #484848;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
}

.stats {
  background-image: url(/images/img/stats-bg.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 35vh;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
}

.stats > .container {
  position: relative;
}

.stats > .container > .info {
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  background-color: #fff;
  width: 70%;
  height: 30%;
  line-height: 15vh;
}

.stats > .container > .info > ul {
  vertical-align: middle;
  display: inline-flex;
  width: 100%;
  height: 15vh;
  overflow: hidden;
  position: relative;
}

.stats > .container > .info > ul > li {
  color: #484848;
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.stats > .container > .info > ul > li > span {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  left: 0;
  line-height: normal;
  top: 25%;
}

.stats > .container > .info > ul > li > span:nth-child(3) {
  top: 20%;
}

.stats > .container > .info > ul > li > .num {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.how-we-do-art {
  width: 100%;
  height: 110vh;
  color: #484848;
  position: relative;
}

.how-we-do-art > .white-bg-hwda {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 30%;
  z-index: -1;
}

.how-we-do-art > .white-bg-hwda::before {
  content: "";
  width: 0;
  height: 0;
  right: 0px;
  top: -100px;
  border-bottom: 100px solid #fff;
  border-left: 100vw solid transparent;
  position: absolute;
  z-index: 1;
}

.how-we-do-art > .container {
  display: block;
  padding: 0px 10%;
  text-align: center;
}

.how-we-do-art > .container > .hwda-block {
  margin-top: 10%;
  border: 6px solid #484848;
  width: 100%;
  height: 75vh;
  overflow: visible;
  z-index: 1;
}

.how-we-do-art > .container > .hwda-block > .hwda-cards {
  width: 100%;
  height: 100%;
  display: inline-flex;
  overflow: visible;
  position: relative;
  justify-content: center;
}

.how-we-do-art > .container > .hwda-block > .hwda-cards > .hwda-card {
  width: 22vw;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: absolute;
}

.how-we-do-art
  > .container
  > .hwda-block
  > .hwda-cards
  > .hwda-card:nth-child(1) {
  left: 5%;
  top: -60px;
}

.how-we-do-art
  > .container
  > .hwda-block
  > .hwda-cards
  > .hwda-card:nth-child(2) {
  top: 50px;
}

.how-we-do-art
  > .container
  > .hwda-block
  > .hwda-cards
  > .hwda-card:nth-child(3) {
  top: -100px;
  right: 5%;
}

.how-we-do-art > .container > .hwda-block > .hwda-cards > .hwda-card > img {
  width: 100%;
  height: auto;
}

.how-we-do-art > .container > .hwda-block > .hwda-cards > .hwda-card > h4 {
  font-size: 20px;
  font-family: "Oswald";
  padding: 10px;
}

.how-we-do-art > .container > .hwda-block > .hwda-cards > .hwda-card > p {
  padding: 10px 10% 10% 10%;
  text-align: left;
}

.reviews {
  background-color: #fff;
  padding-top: 10%;
  width: 100%;
}

.reviews > .container {
  height: 100%;
  text-align: center;
  position: relative;
}

.reviews > .container > h3 {
  padding-top: 10%;
  width: 100%;
  color: #484848;
}

.reviews > .container > #wpac-comment {
  width: 70%;
  margin: auto;
}

.reviews > .container > .line {
  height: 23px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contacts {
  width: 100%;
  background-color: #fff;
  color: #484848;
}

.contacts > .container {
  text-align: center;
}

.contacts > .container > h3 {
  padding-top: 5%;
  width: 100%;
  padding-bottom: 5%;
}

.contacts > .container > .workers {
  display: inline-flex;
  padding-bottom: 40px;
}

.contacts > .container > .workers > .worker {
  display: inline-flex;
  padding: 20px 50px;
}

.contacts > .container > .workers > .worker > .contact-info {
  display: block;
}

.contacts > .container > .workers > .worker > .contact-info > h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 20px;
  font-size: 24px;
}

.contacts > .container > .workers > .worker > .contact-info > h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 5px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 25px;
}

.contacts > .container > .workers > .worker > .contact-info > h6 > img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.contacts > .container > .workers > .worker > img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px 20px 40px 20px;
}

.front-side,
.back-side {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s linear;
}

.front-side img {
  width: 100%;
  height: 100%;
}

.front-side {
  transform: perspective(600px) rotateY(0deg);
}

.back-side {
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}

.back-side--content {
  width: 100%;
  height: 100%;
  padding: 15px;
  color: #2c3e50;
  text-align: center;
}

.card:hover > .front-side {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back-side {
  transform: perspective(600px) rotateY(0deg);
}

.back-side--content h1 {
  margin: 70px 0 10px 0;
}

.back-side--content p {
  margin-bottom: 20px;
}

.back-side--content a {
  display: block;
  width: 100px;
  margin: auto;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  color: #ffffff;
  background-color: #505050;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  outline: 0px;
  text-decoration: none;
  border-style: none;
}

.back-side--content a:hover {
  background-color: #808080;
}

.back-side--content a:active {
  background-color: #202020;
}

@media (max-width: 1200px) {
  .artworks-slide > .nav > .nav-btn > label > span {
    border-top: 2px solid #484848;
  }

  .photos-slide > .nav > .nav-btn > label > span {
    border-top: 2px solid #fff;
  }

  .sculptures-slide > .nav > .nav-btn > label > span {
    border-top: 2px solid #484848;
  }

  .slide-content {
    padding-top: 0px;
    display: block;
  }

  .slide-content > img {
    margin: auto;
    height: 250px;
    width: 250px;
    display: block;
    float: none;
  }

  .slide .social {
    position: absolute;
    bottom: 3%;
    right: 5%;
  }

  .artworks-slide {
    background-position: bottom center;
    background-size: 100% 75%;
  }

  .artworks-slide > .previous > div {
    background: url("/images/icons/bright-arrow.png");
    background-size: contain;
  }

  .slide-content > .info {
    width: 100%;
    display: block;
    float: none;
    margin-left: 0;
    text-align: center;
  }

  .slide-content > .info > p {
    text-align: left;
  }

  .photos-slide {
    background: #fff url("/images/img/photos-mob.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 20%;
  }

  .photos-slide > .previous > div {
    background: url("/images/icons/dark-arrow.png");
    background-size: contain;
  }

  .sculptures-slide {
    background-position: bottom center;
    background-size: 100% 70%;
  }

  .recomendations {
    height: auto;
  }

  .rec-block {
    display: block !important;
    box-shadow: none !important;
    text-align: center;
  }

  .rec-block > div {
    width: 70% !important;
    border: none !important;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  }

  .recomendations > .container > .rec-block > div > img {
    height: 100%;
    width: 100%;
  }

  .stats > .container > .info {
    width: 95%;
  }

  .how-we-do-art {
    height: auto;
  }

  .how-we-do-art > .container > .hwda-block {
    height: auto;
  }

  .how-we-do-art > .container > .hwda-block > .hwda-cards {
    padding-top: 20px;
    display: block;
  }

  .how-we-do-art > .container > .hwda-block > .hwda-cards > .hwda-card {
    top: 0 !important;
    left: -5% !important;
    right: 0 !important;
    position: relative !important;
    width: 110%;
    margin: auto;
    margin-bottom: 20px;
  }

  .contacts > .container > .workers {
    display: block;
  }
  .contacts > .container > .workers > .worker {
    padding: 10px 30px;
  }

  .contacts > .container > .workers > .worker > .contact-info > h5 {
    padding: 5px;
    font-size: 22px;
  }

  .contacts > .container > .workers > .worker > .contact-info > h6 {
    font-size: 16px;
  }

  .contacts > .container > .workers > .worker > img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 600px) {
  .reviews > .container > .line {
    height: 37px;
    display: none;
  }

  .rec-block > div {
    width: 80% !important;
  }

  .stats > .container > .info > ul > li > span {
    font-size: 20px;
    top: 10%;
  }
}

@media (max-width: 500px) {
  .slide-content > img {
    height: 200px;
    width: 200px;
  }

  .slide-content > .info > h1 {
    font-size: 20px;
  }
  .contacts > .container > .workers > .worker > img {
    width: 100px;
    height: 100px;
  }

  .contacts > .container > .workers > .worker > .contact-info > h5 {
    padding: 0;
    font-size: 22px;
  }

  .contacts > .container > .workers > .worker > .contact-info > h6 {
    font-size: 14px;
    padding-bottom: 5px;
  }

  .contacts > .container > .workers > .worker > .contact-info > h6 > img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 380px) {
  .rec-block > div {
    width: 90% !important;
  }

  .slide-content > img {
    height: 130px;
    width: 130px;
  }

  .artworks-slide > .previous > div {
    width: 25px;
    height: 25px;
  }

  .artworks-slide > .next > div {
    width: 25px;
    height: 25px;
  }

  .slide-content > .info > p {
    margin-top: 5px;
  }
}

@media (max-width: 360px) {
  .slide-content > .info > p {
    text-overflow: ellipsis;
    margin-top: 0px;
    overflow: hidden;
    height: 150px;
    white-space: pre-line;
  }
}
