<h3>Контакты</h3>
<div class="workers">
  <div class="worker">
    <img src="/images/img/worker1.jpg" alt="" />
    <div class="contact-info">
      <h5>Ирина Виолетова</h5>
      <h6>
        <img
          src="/images/icons/phone-call-i.png"
          alt=""
        />&nbsp;&nbsp;&nbsp;+89637820707
      </h6>
      <h6>
        <img
          src="/images/icons/arroba.png"
          alt=""
        />&nbsp;&nbsp;&nbsp;art108gallery@gmail.com
      </h6>
      <!-- <h6>
        <img
          style="opacity: 0.9;"
          src="/images/icons/instagram-i-dark.png"
          alt=""
        />&nbsp;&nbsp;&nbsp;<a
          target="_blank"
          href="https://www.instagram.com/art_108_"
          >art_108_</a
        >
      </h6> -->
      <h6>
        <img
          style="opacity: 0.9;"
          src="/images/icons/instagram-i-dark.png"
          alt=""
        />&nbsp;&nbsp;&nbsp;<a
          target="_blank"
          href="https://www.instagram.com/irina_voiteleva/"
          >irina_voiteleva</a
        >
      </h6>
    </div>
  </div>
  <div class="worker">
    <img src="/images/img/worker2.jpg" alt="" />
    <div class="contact-info">
      <h5>Юлия Кхмарюк</h5>
      <h6>
        <img src="/images/icons/phone-call-i.png" alt="" />&nbsp;&nbsp;&nbsp;+79637820707
      </h6>
      <h6>
        <img
          src="/images/icons/arroba.png"
          alt=""
        />&nbsp;&nbsp;&nbsp;art108_art108@mail.ru
      </h6>
      <h6>
        <img
          style="opacity: 0.9;"
          src="/images/icons/instagram-i-dark.png"
          alt=""
        />&nbsp;&nbsp;&nbsp;<a
          target="_blank"
          href="https://www.instagram.com/yuliia___khmariuk/"
          >yuliia___khmariuk</a
        >
      </h6>
    </div>
  </div>
</div>
